@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*,
*::after,
*::before {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
font-family: "Roboto", sans-serif;
display: flex;
flex-direction: column;
}

.main {
display: flex;
justify-content: space-between;
flex-direction: column;
}


/* NAV
--------------------------------------------*/

.navbar {
background-color: #1F2937;
}

.navbar .container {
display: flex;
justify-content: center;
margin: 16px 155px;
gap: 500px;
align-items: center;
}

ul {
list-style: none;
display: flex;
gap: 16px;
}

.logo {
font-size: 24px;
color: #F9FAF8;
font-weight: 900;
}

a {
text-decoration: none;
color: #E5E7EB;
}

a:hover {
cursor: pointer;
color: #a7a7a7;
}


/* HEADER
-------------------------------------------- */

.header {
background-color: #1F2937;
color: #F9FAF8;
}

.header .container {
display: flex;
margin: 60px 155px;
justify-content: center;
gap: 182px;
}

/* contains header text and button */
.main-text {
display: flex;
flex-direction: column;
max-width: 320px;
gap: 8px;
}

.header button {
max-width: 100px;
padding: 8px 16px;
color: #F9FAF8;
background-color: #3882F6;
border: 1px solid black;
border-radius: 10px;
font-weight: bold;
margin-top: 8px;
}

.header button:hover {
cursor: pointer;
background-color: #164796;
}

.header img {
max-height: 250px;
margin: 0;
padding: 0;
align-self: center;
}

/* Welcome text H1 */
.header .heading {
font-size: 48px;
color: #F9FAF8;
font-weight: bolder
}

.header p {
font-size: 18px;
color: #E5E7EB;
}



/* BOXES
-------------------------------------------- */

/* contains everything in the section */
.boxes {
display: flex;
padding: 60px 0;
font-size: 18px;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
}

/* contains boxes with text and image */
.icons {
display: flex;
padding-top: 50px;
gap: 40px;
flex-wrap: wrap;
}

/* contains image and text */
.box {
display: flex;
flex-direction: column;
width: 200px;
padding: 4px 6px;
margin: 0;
}

.box img {
border: 4px solid #3882F6;
border-radius: 16px;
padding: 4px;
max-width: 200px;
}

/* text in box */
.box p {
margin-top: 8px;
}

/* main text in boxes */
h2 {
font-size: 36px;
font-weight: 900;
color: #1F2937;
}



/* QUOTE
-------------------------------------------- */

.quote {
background-color: #E5E7EB;
justify-content: center;
display: flex;
}

/* contains quote and author text */
.quote .container {
display: flex;
flex-direction: column;
margin: 100px auto;
color: #1F2937;
}

.quote p {
font-size: 36px;
font-weight: lighter;
font-style: italic;
min-width: 600px;
max-width: 1000px;
}

.author {
align-self: flex-end;
font-size: 24px;
font-weight: bolder;
min-width: 200px;
}



/* CALL TO ACTION
-------------------------------------------- */

/* contains text and button */
.call .container {
background-color: #3882F6;
color: #F9FAF8;
margin: 80px auto;
border-radius: 8px;
padding: 50px 100px;
max-width: 1100px;
display: flex;
justify-content: space-between;
}

/* call to action heading */
h3 {
font-size: 24px;
font-weight: 900;
color: #F9FAF8;
}

/* text beneath call heading */
.text div {
font-size: 18px;
color: #E5E7EB;
font-weight: lighter;
}

/* contains button */
.button  {
display: flex;
align-items: center;
}

.button button {
color: #E5E7EB;
border: 2px solid #E5E7EB;
border-radius: 8px;
padding: 10px 20px;
background-color: #3882F6;
font-size: 18px;
font-weight: 900;
}

.button button:hover {
background-color: #2f6fd5;
cursor: pointer;
}



/* FOOTER
-------------------------------------------- */

.footer {
background-color: #1F2937;
display: flex;
justify-content: center;
padding: 40px 0;
margin: 0;
}

.footer div {
color: #E5E7EB;
font-size: 18px;
}
















